fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg[binary]

pydantic
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]

python-multipart

email-validator

python-dotenv

orjson

httpx

loguru

python-slugify

uuid6

rich

typer

pytest
pytest-asyncio
pytest-cov

faker

black
isort
flake8